---
title: Prop Stock
layout: stock
permalink: /props/
search: true 
filter: true 
---

<div class="wrapper">
  <div class="category">
    <ul class="category-list">

    </ul>
  </div>
  <div class="prop">
    <ul class="prop-list" id="item-list">
      {% assign props_ordered = site.data.props %}
      {% for prop in props_ordered %}
      <li>
        <div class="prop-item prop-type-electrical" title="{{ prop.Category }}">
          {% if prop.Image %}
            <div class="prop-image">
              <img src="{{ site.baseurl }}/images/prop/{{ prop.category | slugify }}/{{ prop.image }}" />
            </div>
          {% else %}
            <div class="prop-image" style="background:inherit;padding: 1em">
              <i class="fa fa-fw fa-2x fa-cube"></i>
            </div>
          {% endif %}
          {{ prop }}
          <h2 class="prop-title"><strong>{{ prop.Name | capitalize }}</strong></h2>
          <span class="category">{{ prop.Category }}</span>
          {% if prop.Secure %}<p><strong><i class="fa fa-fw fa-lock"></i>&nbsp;Seek permission to use this prop</strong></p>{% endif %}
          {% if prop.Notes %}<p><em>{{ prop.Notes | capitalize | markdownify }}</em></p>{% endif %}
          {% if prop.Fragile == True %}<p><strong><i class="fa fa-fw fa-exclamation-triangle"></i>&nbsp;Fragile, handle with care</strong></p>{% endif %}
          {% if prop.Batteries or prop.BatteryType %}<p><i class="fa fa-fw fa-battery-three-quarters fa-rotate-270"></i>&nbsp;Requires {{ prop.BatteryType | append: " " }}batteries</p>{% endif %}
          {% if prop.Color %}<p><i class="fa fa-fw fa-palette"></i>&nbsp;{{ prop.Color | capitalize }}</p>{% endif %}
          {% if prop.Stock %}<p><i class="fa fa-fw fa-tags"></i>&nbsp;{{ prop.Stock }} in stock</p>{% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

