---
title: Set Stock
layout: stock
permalink: /set/
search: true 
filter: true 
---

<div class="wrapper">
  <div class="category">
    <ul class="category-list">
      {% for category in site.data.set[0].categories %}
        <li>
          <div class="category-item set-type-{{ category.name | slugify }}" id="{{ category.name | slugify }}">{{ category.name }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="set">
    <ul class="set-list" id="item-list">
      {% for set in site.data.set[1].set %}
      <li>
        <div class="set-item set-type-{{ set.category | slugify }}" title="{{ set.category }}">
          {% if set.image %}
            <div class="set-image">
              <img src="{{ site.baseurl }}/images/set/{{ set.category | slugify }}/{{ set.image }}" />
            </div>
          {% else %}
            <div class="set-image" style="background:inherit;padding: 1em">
              <i class="fa fa-fw fa-2x fa-cube"></i>
            </div>
          {% endif %}
          <h2 class="set-title"><strong>{{ set.name }}</strong> {% if set.material %}({{ set.material }}){% endif %}</h2>
          <span class="category">{{ set.category }}</span>
          {% if set.notes %}<p><em>{{ set.notes | markdownify }}</em></p>{% endif %}
          {% if set.measurements %}<p><i class="fa fa-fw fa-ruler-combined"></i> {{ set.measurements }}</p>{% endif %}
          {% if set.color or set.paint %}<p>{% if set.color %}<i class="fa fa-fw fa-palette"></i> {{ set.color }}{% endif %} {% if set.paint == true %}<i class="fa fa-paint-brush fa-fw fa-sm" title="You may repaint this item."></i>{% endif %}</p>{% endif %}
            
          {% if set.stock.good %}<p><i class="fa fa-fw fa-tags"></i> {{ set.stock.good }} in stock</p>{% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>

