// Set categories: Seating, Tables, Cabinets and Shelves, Beds, Kitchen, Bathroom, Architectural, Lighting, Exterior, Misc
$set-color-map: ( 
  seating: #DC6D15,
  tables: #964a0e,
  storage: #BF8C64,
  beds: #D0357D,
  kitchen: #2F8587,
  bathroom: #32E1E5,
  walls-and-flooring: #007C14,
  exterior: #2CB141,
  electrical-and-lighting: yellow,
  misc: #848181
);

// Prop categories: Storage, Weapons, Electrical, Kitchen, Misc
$prop-color-map: ( 
  storage: #DC6D15,
  weapons: #964a0e,
  electrical: yellow,
  kitchen: #2F8587,
  misc: #848181,
  // Unused 
  cabinets-and-shelves: #BF8C64,
  beds: #D0357D,
  bathroom: #32E1E5,
  architectural: #007C14,
  exterior: #2CB141,
);

// Costume categories: tops and shirts; trousers and shorts; jackets and coats; hat; nightwear; vest; dresses and skirts; accessories; all in one; misc
$costume-color-map: ( 
  tops-and-shirts: #DC6D15,
  trousers-and-shorts: #964a0e,
  jackets-and-coats: #BF8C64,
  hat: #D0357D,
  nightwear: #2F8587,
  vest: #32E1E5,
  dresses-and-skirts: #007C14,
  accessories: #2CB141,
  all-in-one: yellow,
  misc: #848181
);

.category {
  @include boxy-list-container;
}

.category-list {
  @include boxy-list;
  list-style-type: none;
  li {
  	width: 50%;
    @include breakpoint(S) {
      width: 33.333%;
    }
    @include breakpoint(M) {
    	width: 25%;
    }

    @include breakpoint(L) {
      width: 20%;
    }

  	.active {
  		font-weight: bold;
  	}
  }
}

.category-item {
	@include boxy-list-item;
	background: inherit;
	height: auto; 
	min-height: inherit;
	color: inherit; 
	text-align: center; 
	cursor: pointer;
	&:hover {
		text-decoration: underline; 
	}
}