.prop {
  @include boxy-list-container;
}

.prop-list {
  @include boxy-list;
}

$swatch-width: 25%;

.prop-item {
  @include boxy-list-item;

  color: $color-text-white;
  padding: 1rem 1rem 1rem ($swatch-width + 6%);

  i {
    // font-size: 1.6em
    vertical-align: middle;

    &.paint-false {
      color: red;
    }

    &.paint-true {
      color: green;
    }
  }

  .prop-title {
    font-weight: lighter;
  }

  .prop-title + .prop-name {
    margin-top: -0.5em;
  }

  .prop-name {
    margin-bottom: 0.5em;
    font-style: italic;
  }

  p {
    margin: 0;
  }
}

.prop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: $swatch-width;
  height: 16em;
  margin-right: 4%;
  background: white;

  img {
    padding: 0.5rem;
    width: 100%;
  }
}

$background-mix: 45%;

@each $type, $color in $prop-color-map {
  .prop-type-#{$type} {
    background: mix($color, $color-background, $background-mix);
  }
};
