// Categories: Seating, Tables, Cabinets and Shelves, Beds, Kitchen, Bathroom, Architectural, Lighting, Exterior, Misc
$color-map: ( 
  seating: #DC6D15,
  tables: #964a0e,
  cabinets-and-shelves: #BF8C64,
  beds: #32E1E5,
  kitchen: #2F8587,
  bathroom: #BAF5F7,
  architectural: #007C14,
  exterior: #2CB141,
  lighting: yellow,
  misc: #848181
);

$color-fresnel: #DC6D15;
$color-profile: #D0357D;
$color-flood: #32E1E5;
$color-strobe: yellow;

.set {
  @include boxy-list-container;
}

.set-list {
  @include boxy-list;
}

$swatch-width: 25%;

.set-item {
  @include boxy-list-item;

  color: $color-text-white;
  padding: 1rem 1rem 1rem ($swatch-width + 6%);

  i {
    // font-size: 1.6em
    vertical-align: middle;

    &.paint-false {
      color: red;
    }

    &.paint-true {
      color: green;
    }
  }

  .set-title {
    font-weight: lighter;
  }

  .set-title + .set-name {
    margin-top: -0.5em;
  }

  .set-name {
    margin-bottom: 0.5em;
    font-style: italic;
  }

  p {
    margin: 0;
  }
}

.set-image {
  position: absolute;
  top: 0;
  left: 0;
  width: $swatch-width;
  height: 16em;
  margin-right: 4%;
  background: white;

  img {
    padding: 0.5rem;
    width: 100%;
  }
}

$background-mix: 45%;

@each $type, $color in $color-map {
  .set-type-#{$type} {
    background: mix($color, $color-background, $background-mix);
  }
};
