---
layout: default
---
<div class="nav-bar">
  <div class="wrapper">
    <div class="nav-button">
      <a href="{{ site.baseurl }}" title="Back" class="nav-prev"><i class="fa fa-fw fa-angle-left"></i></a>
    </div>
    {% if page.search == true %}
	    <div class="nav-search">
	      <input id="search-box" type="text" placeholder="search" />
	    </div>
    {% endif %}
  </div>
</div>

{{ content }} 

{% if page.search == true %}
	<script src="{{ site.baseurl }}/js/search.js"></script>
{% endif %}
{% if page.filter == true %}
  <script src="{{ site.baseurl }}/js/filter.js"></script>
{% endif %}